@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {
        background-color: #006699;
            }
        h1 {
        color: #00FF99;
        font-family: Montserrat, serif;
        }
        h3 {
            color: #00ff99;
            font-family: Montserrat, serif;
            
        }
        p {
        color: #FFFFcc;
        font-family: Montserrat, serif;
        }
        p1 {
            color: black;
            font-weight: bold;
        font-family: Montserrat, serif;
        }

        div.a {
            text-indent: -36px;
            padding-left: 36px;
            color: #FFFFcc;
        }
header {
    background-color: black;
    text-align: center; color: white; font-size: 36px;
}

a {
    color: white;
  }
     
.footer {
    position: fixed;
    left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("backgr.jpg");
  width: 100%;
  height: 100px;
  color: black;
  text-align: center;
  font-size: 12px;
}

blockquote {
    font-size: 20px;
    color: white;
    font-family: Montserrat, serif;
}

ul2 {
    font-size: 15px;
    color: #FFFFcc;
    font-family: Montserrat, serif;
}

ul2 li ul{
    font-size: 12px;
    list-style-position: inside;
    text-indent: 20px;
}

.pic {
    width: "15px";
    height: "15px";
}
.picbig {
    position: absolute;
    width:0px;
    -webkit-transition: width 0.3s linear 0s;
    transition:width 0.3s linear 0s;
    z-index:10;
}
.pic:hover + .picbig{
    width: 200px;
}

            /*entire page style*/
            * {margin: 0; padding: 0;}
            body {margin: 1% auto; width: 90%; border: none;}
            body {margin-bottom: 600px;}

            /*semantic element styles*/
            header {border-bottom: none;}
            nav {border-bottom: 1px solid black;}
            main {float: left; height: 350px; width: 84%;}
            aside {float: right; width: 15%; height: 350px; border-left: 1px solid black;}
            footer {border-top: 1px solid black; clear: both;}


            /*content styling*/
            h1 {padding: 10px; font-size: 14pt;}

            /*media queries*/
            @media screen and (max-width:850px) { 
                main { 
                    background-color: #006699; 
                } 
            }
            @media screen and (max-width:350px) { 
                main { 
                    background-color:#006699; 
                } 
            }

    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }
    .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
            

.active a:link {
    background-color: black;
}
#hamburger {
    display: none;
}

nav {
    top: 0px;   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: black;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border: none;
    padding: 15px 15px 15px 15px;
    width: 150px;
    margin: 2px;
}


nav a:link{
    background-color: grey;
}
nav a:hover, nav a:focus {
    background-color: cornsilk;
}
nav a:active{
    background-color: aliceblue;
}


nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}


nav>ul>li:hover>ul{
    display: block;
}
@media only screen and (max-width: 640px) {
	header {
		position: relative;
        font-size: 30px;
        height: 40px;
        display: block;
        background-color: black;
        width: 100%;        

	}
	#hamburger {
		display: inline-block;
        padding-left: 20px;
        width: 20px;
        font-size: 24px;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 30px 20px 20px 0px;
		top: 20px;
			}
	nav:hover ul {
		display: block;
	}
    	nav:hover #mobileHide {
		display: none;
	}
	nav li {
		text-align: center;
		padding: 0;
		margin: 0;
	}
    nav>ul li {
    text-align: left;
    font-weight: bold;
    color: black;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border-top: none;
    border-bottom: none;
    padding: 15px 0px 15px 35px;
    width: 240px;
    margin-bottom: none;
}
nav .lastMobile {border-bottom: none;}
    nav ul li ul {
        display:none;
    }
}
        

@media print {

    /* HIDE UNWANTED ELEMENTS */
    nav {
        display: none;
    }
    header {
        display: none;
    }
    h3 {
        display: none;
    }
    a {
        display: none;
    }

    /* GLOBAL RESET */
    body {
        font-family: Montserrat, serif;
        font-size: 16pt;
        line-height: 24pt;
        background: none;
        color: black
    }

    /* LAYOUT RESET */
    .final-result
    .info
    section,
    footer {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        color: black;
    }

    /* SPECIFICS */
    h1, h2, h3, h4, h5, h6 {
        color: #000000;
        font-size: 24pt;
        line-height: 30pt;
        margin: 0;
    }

    h1 {
        font-size: 30pt;
        margin: 0 0 20 pt;
        text-align: center;
        width: 100%;
    }

    p {
        font-size: 13pt;
        margin: 0;
        font-family: Montserrat, serif;
        color: black;
    }

    ul2 {
        font-size: 13pt;
        margin: 0;
        font-family: Montserrat, serif;
        color: black;
    }

    blockquote {
        font-size: 13pt;
        margin: 0;
        font-family: Montserrat, serif;
        color: black;
    }

}