* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 60px;
  background-color: grey;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  color: black;
  font-size: 22px;
  padding: 15px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  padding: 2px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 160px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 25px;
}

nav ul li ul li a:hover {
  background-color: lightblue;
}

@media all and (max-width: 640px) {
  nav {
   background: none;
   } 
   nav ul li ul li{display: none;}
  }